.menu-principal{
    width: 99vw;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.menu-principal h1{
    margin-left: 20px;
    font-family: 'Ostrich Sans Black', sans-serif;
    font-size: 80px;
    color: #000;
}
.menu-principal li{
    width: 160px;
    height: 60px;
    margin: 20px;
    font-size: 15px;
    background-color: #ff8000;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Beyonders', sans-serif;
    color: black;
}
.menu-principal ul{
    padding: 0;
    display: flex;
    flex-direction: row;
}
.menu-principal li:hover{
    cursor: pointer;
    background-color: #d66e05;
}
.mclaren{
    height: 80px;
}